{deps, [
    %{cpflib, {git, "https://github.com/aialferov/cpflib", {tag, "master"}}}
]}.
{plugins, [
    {r3erlang,
     {git, "https://github.com/aialferov/r3erlang", {branch, "master"}}}
]}.

{shell, [{apps, ['{{name}}']}]}.

{provider_hooks, [{post, [{compile, escriptize}]}]}.
{escript_emu_args, "%%! -start_epmd false"}.
